

.blood-button{
    padding: 10px 20px; /* Add padding inside the button */
    margin: 0 5px; /* Add space between buttons */
    border: 1px solid #ddd; /* Border around the button */
    border-radius: 5px; /* Rounded corners */
    background-color: #fff; /* Background color */
    color: #B60C0C; /* Text color */
    text-align: center; /* Center text inside button */
    transition: background-color 0.3s, color 0.3s;
}