// Variables
$primary-color: #B60C0C;
$secondary-color: #404F9C;
$input-bg-color: #fff;
$input-border-color: #e6e5e5;
$container-bg: #FFFFFF;
$box-shadow-color: #ECECEC;
$placeholder-color: #626262;

body{
  font-family:'Lato';
  color: #222;
}
// Mixins
@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

// Container styles
.login-container,
.signup-container,
.add-container,
.req-container,
.request-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  // border: 1px solid #44444444;
  border-radius: 20px;
  margin-top: 3%;
  // background-color: #f3f3f9;
  padding: 30px;
}


// Input styles
.input, .textarea {
  background-color: $input-bg-color;
  border: 1px solid $input-border-color;
  padding: 9px 15px;
  margin-bottom: 10px;

  &::placeholder {
    color: $placeholder-color;
    font-size: 15px;
  }

  &:focus {
    border-color: #405189;
    // box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  }
}

// Button styles
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  @include button-style(#f8f9fa, $primary-color);

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }

  &.active {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
  }
}

// Specific button IDs
#btnSubmit,
#btnAdd,
#btnSignup,
#btnRequest {
  @include button-style($secondary-color, #fff);
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}


.login-page {
  display: flex;
  flex-direction: row;

  .login-form-container {
    width: 40%;
    background: #fff;
    text-align: center;

    .form-title {
      font-size: 2rem;
      font-weight: bold;
      color: #3b3b3b;
    }

    .form-group {
      text-align: left;

      label {
        font-weight: 500;
      }

      .form-control {
        height: 45px;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        &:focus {
          border-color: #405189;
          box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
        }
      }
    }

    button {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .decorative-container {
    background: linear-gradient(135deg, #405189, #405189);
    display: flex;
    justify-content: center;
    align-items: center;

    .decorative-bg {
      // background-image: url('https://img.freepik.com/free-vector/leaves-background-color-year_23-2148380575.jpg?t=st=1733397208~exp=1733400808~hmac=745785d3a5b3f2eaca51f754cf1988543b2a8431b552e4944e096298927aefa3&w=1380'); /* Replace with your background image */
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}



/* Update your CSS file */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}


button#btnSignup {
  width: 100%;
  background-color: #3b5998;
  color: white;
  font-weight: bold;
}

button#btnSignup:hover {
  background-color: #334d84;
}

/* For links */
a {
  text-decoration: none;
  color: #3b5998;
}

a:hover {
  text-decoration: underline;
  color: #2c4176;
}
