// Variables
$primary-color: #B60C0C;
$secondary-color: rgb(64, 79, 156);
$active-bg-color: #fff0f0;
$hover-bg-color: #f0f4f7; // Subtle hover background color
$font-family: "Lato", sans-serif;

.row {
   --bs-gutter-x: 0;
}

// Sidebar styles
#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 10px 0;
  position: sticky;
  top: 0;
  background-color: #f5f6f7;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Optional: Add a shadow for a subtle 3D effect
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li:first-child {
  margin: 2em 0 3em;
}

#sidebar li a {
  display: flex;
  align-items: center;
  color: $secondary-color;
  padding: 0.7em 1em;
  font-weight: 400;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

#sidebar li a {
  padding: 0.7em 1em;
  margin: 0 1em;
}

#sidebar li a:hover {
  background-color: $hover-bg-color;
  color: $primary-color;
}

#sidebar li a.active {
  color: $primary-color;
  background-color: #fff;
  // border: 2px solid $primary-color;
  border-radius: 6px;
  padding: 0.7em 1em;
  font-weight: 500;
  margin: 0 1em;
}
